@model string
@{
    
}

@if (!string.IsNullOrEmpty(Model))
{
    string link = Model;
    // Calculate the starting index for the last 11 characters
    int startIndex = Math.Max(0, link.Length - 11);

    // Substring to extract the last 11 characters
    string youtubeID = link.Substring(startIndex);
    <iframe width="640" height="360"
            src="https://www.youtube.com/embed/@youtubeID"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    
    </iframe>
}
else
{
    <span>No link provided</span>
}