@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Laboratorium7b.Areas.Identity.Data.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="MyOrders">My Orders</a>
    }
    <h1 class="display-4">Welcome</h1>
    <table>
        <thead>
            <tr>
                <th>CustomerId</th> 
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerId</td> 
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>
